<template>
  <q-dialog ref="dialog" @hide="onDialogHide" style="height: 100%">
    <q-card class="q-dialog-plugin my-font">
      <p class="text-h5 text-center q-mt-md">הוסף משתמש:</p>
      <q-card-section class="q-gutter-lg">

        <q-input
          v-model="formData.companyName"
          class="col"
          label="שם החברה"
          lazy-rules
          :rules="[val => val.length >=2 || 'Please enter at least 2 characters.']"
        />

        <q-input
          v-model="formData.email"
          ref="email"
          class="col"
          label="מייל"
          lazy-rules
          :rules="[val => isValidEmailAddress(val) || 'Please enter a valid email address.']"
        />

        <q-file v-model="formData.profilePic" label="בחר לוגו חברה">
          <template v-slot:append>
            <q-icon name="attach_file"/>
          </template>
        </q-file>

        <div class="form__field">
          <p class="text-grey-8" style="font-size: 16px">בחר צבע לחברה: </p>
          <v-swatches
            v-model="formData.companyColor"
            popover-x="center"
            swatches="text-advanced"
            show-fallback
            fallback-input-type="color"
          ></v-swatches>
        </div>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn color="primary" label="הוסף משתמש" @click="onOKClick"/>
        <q-btn color="primary" label="ביטול" @click="onCancelClick"/>
      </q-card-actions>

    </q-card>
  </q-dialog>
</template>

<script>
import firebaseInstance from 'src/middleware/firebase/database'
import firebaseIndex from 'src/middleware/firebase'
import VSwatches from 'vue-swatches'
import {mapActions, mapState} from "vuex";


export default {
  components: {VSwatches},
  name: "AddNewUser",
  data() {
    return {
      formData: {
        email: '',
        companyName: '',
        generatedPassword: '',
        profilePic: null,
        companyColor: '#000000'
      }
    }
  },
  computed: {
    ...mapState('users', ['users'])
  },
  methods: {
    ...mapActions('users', ['getUsers']),
    show() {
      this.$refs.dialog.show()
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide() {
      this.$refs.dialog.hide()
    },

    onDialogHide() {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    /*
   * This function is triggered when the admin click on ok button.
   * the function will validate the user email was entered by the admin and
   * generate new password.
   * after that, the function will do an authentication and create new user on the app,
   * additionally add the user to the DB.
   */
    async onOKClick() {
      this.$q.loading.show({
        message: 'מוסיף את המשתמש'
      })
      this.$refs.email.validate()
      this.formData.generatedPassword = this.generatePassword()

       firebaseIndex.firebase.auth().createUserWithEmailAndPassword(this.formData.email, this.formData.generatedPassword).then(user => {
         window.user = user;
         window.user.uid = this.formData.generatedPassword;
         console.log('Signed in')
       })

      await firebaseInstance.addUser({
        newUser: true,
        companyName: this.formData.companyName,
        email: this.formData.email,
        password: this.formData.generatedPassword,
        logo: this.formData.profilePic,
        color: this.formData.companyColor
      })
      this.$q.notify({
        message: 'הוספת את המשתמש בהצלחה! ',
        icon: 'person_add',
        type: 'positive',
      })
      this.$q.loading.hide()
      this.$emit('ok')
      this.hide()
    },

    onCancelClick() {
      // we just need to hide dialog
      this.hide()
    },

    isValidEmailAddress(email) {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    },

    generatePassword() {
      let pw = ""
      let characters = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"
      for (let i = 0; i < 10; i++) {
        pw += characters.charAt(Math.floor(Math.random() * characters.length))
      }
      return pw;
    }
  }
}
</script>

<style scoped>

</style>
